* {
	margin: 0px;
	padding: 0px;
}

body {
	/*background-color: grey;*/
	text-align: center;
	height: 100vh;
	overflow: hidden;

}

#page-centre {
	text-align: left;
	background-color: white;
	/*margin: 10px auto;	*/
}

#page_header {
	background-color: rgb(22, 0, 180);
	color: white;
}

#logo {
	display: inline;
	padding: 5px 2px 10px 10px;
	vertical-align: middle;
}

#tag_line {
	display: inline;
	vertical-align: middle;
}

#page_nav {
	background-color: black;
	padding: 10px;

}

#page_nav ul {
	list-style: none;
}

#page_nav a {
	color: white;
}

#page_nav li {
	display: inline;
	padding: 10px;
}

#left_side {
	background-color: rgb(249,249,148);	
	width: 240px;
	float: left;
	height: 100vh;
}

#main_section {
	float: left;
	width: 720px;
	background-color: white;
}

.main_article {
	float: left;
	padding: 10px;
	margin: 10px;
	border: 2px solid black;
	width: 310px;
	height: 150px;
	background-color: rgb(198, 255, 255);
}

.main_article header {
	background-color: yellow;
}

.main_article footer {
	color: red;
	background-color: grey;
}

#page_footer {
	clear: both;
	background-color: grey;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
}