#container {
	width: 960px;
	margin: 0px auto;
}

#left_column {
	width: 700px;
	float: left;
	background: blue;
}

#right_column {
	width: 260px;
	float: left;
	background: orange;
}

@media 	screen and (max-width: 959px) {
	#container {
		width: 100%;
	}
	#left_column {
		width: 70%;
	}
	#right_column {
		width: 30%;
	}
}