ul.tab-bar,
ul.tab-bar>li { position: relative; }
   ul.tab-bar.bar-style-1:before { background-color: #00668f; }
   ul.tab-bar:before {
       display: inline-block;
       content: '';
       position: absolute;
       bottom: -15px; left: 0;
       height: 10px;
       z-index: 1;
       border-top-left-radius:5px;
       border-top-right-radius:5px;
       border-bottom-left-radius:5px;
       border-bottom-right-radius:5px;
       
   }
   ul.tab-bar>li { list-style-type: none; border-width: 0; }
   ul.tab-bar.bar-style-1>li.active { color: #00668f; font-weight: 700; } */
   /* li {
           list-style-type: none;
           display: inline-block;
           border-width: 0;
           height: 40px;
           margin: 0 20px;
           background-color: transparent;
           color: #9c9c9c;
           text-align: center;
           cursor: pointer;
       }*/


       /* navbar srarts */
.aid-menu{
padding: 1.8rem 2.5rem 2.2rem;
}
.aid-menu .nav-logo{
max-width: 170px;
}
.aid-menu .close img{
width: 1rem;
height: 1rem;
padding: 0;
margin: 0 !important;
}
.aid-menu .navbar-toggler-icon{
background-image: url(../images/menu-res-icon.png);
width: 1em;
height: 1em;
}
.aid-menu ul li{
margin-right: 2rem;
}
.aid-menu ul li:last-child{
margin-right: 0;
}
.aid-menu ul li a{
font-size: 14px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #282828;
}
.aid-menu ul li.current-menu-item {
   position:relative
}
.aid-menu ul li.current-menu-item:after{
   position: absolute;
content: '';
width: 10px;
height: 10px;
background-color: #e00043;
border-radius: 50%;
left: 45%;
right: 50%;
bottom: -18px;
text-align: center;
}
.aid-menu ul li a.active{
position:relative;
}
.active {
  position:relative;
}
.slate{display:none;}
.aid-menu ul li a.active:after {
position: absolute;
content: '';
width: 10px;
height: 10px;
background-color: #e00043;
border-radius: 50%;
left: 45%;
right: 50%;
bottom: -18px;
text-align: center;
}
/* navbar Ends */

li {
  list-style: none;
  display: inline;
}